@import '../../styles/_colors.scss';
@import '../../styles/_breakpoints.scss';

.listing-container {
  margin: 0 0 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listing__header {
  position: relative;

  .icon-like {
    position: absolute;
    width: 3.917rem;
    width: 3.594rem;
    top: 1.788rem;
    right: 2.392rem;
  }
}

.listing__img {
  display: block;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}

.listing__info {
  margin-top: 1.6rem;
  color: $primary-text;
}

.listing__info__details {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.listing__info__detail {
  font: 600 2rem/3.2rem "Open Sans", sans-serif;
}

.listing__info__detail-separator {
  font: 600 2rem/3.2rem "Open Sans", sans-serif;
}

.listing__price {
  margin: 1rem 0 0.5rem;
  font: 700 2.6rem/2.4rem "Open Sans", sans-serif;
}

.listing__address {
  font-size: 1.5rem;
  line-height: 3.2rem;
  font-style: normal;
}

.listing__date {
  color: $secondary-text;
}
